.container {
    /* position: fixed; */
    /* height: 100px; */
    width: 100%;
    background-color: var(--primary-color);
    padding: 2rem 0;
    max-width: none;
    position: relative
}

.navbar-inner a {
    color: white;
    font-size: 1.25rem;
}

.navbar-inner a:hover {
    color: hotpink;
    font-size: 1.25rem;
}

.navbar-list {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar-inner ul>* {
    margin: 0 .5em;
    padding: .5em;
}