.page-container {
    margin: auto;
    margin-top: 4rem;
    min-height: 50vh;
}

.outer-container {
    width: 100%;
}

.no-margin {
    margin: 0 !important;
    margin-top: 4rem;
}

@media only screen and (max-width: 1100px) {
    .page-container {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

/* Mobile */
@media only screen and (max-width: 550px) {
    .page-container {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }
}